.confirm-toast-modal {
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
}

.confirm-toast {
    display: flex;
    flex-direction: column;
    align-items: center;
        background-color: #dedfa1;
        border-radius: 10px 10px 5px 5px;
        width: 35vw;
        height: 25vh;
        position:absolute;
        top:50vh;
        left:50vw;
        transform: translate(-50%, -50%);
      border: 2px solid #387F39;
      box-shadow: 15px 15px 30px black;
}

.toast-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c9d6b9;
    border-radius: 5px 5px 0 0;
    background-color: #387F39;
    border-bottom: 1px solid black;
    position: relative;
    font-weight: 600;
  }

  .toast-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    padding: 2vh;
}

  .toast-text {
    color:#387F39;
    text-align: center;
    font-weight: 500;
  }



  /*buttons*/
  
.buttons-container {
    display: flex;
    flex-direction: row;
}

.toast-button {
    border: solid 1px #387F39;
    color: #387F39 ;
    font-weight: 500;
    height: 4vh;
    width: 6vw;
    font-size: 2vh;
    background-color: #BEDC74;
    cursor: pointer;
}
.confirm {
    border-right: none;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.cancel{
    border-left: none;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
.cancel:hover {
    background-color: #387F39;
    color: #BEDC74;
}
.confirm:hover {
    color: white;
    background-color: #7f3838;
}
.conmfirm:active, .cancel:active {
    background-color: #558a56;
}